@model WEB_BASE.Models.Module

@{
    ViewBag.Title = "Detalhes do Módulo";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="well dl-horizontal fadeIndSlow">
        <dt>
            @Html.DisplayNameFor(model => model.ModuleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Controller)
        </dt>

        <dd>
            @{
                var controller = Model.Controller ?? "-";
            }
            @controller
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>

        <dd>
            @{
                var action = Model.Action ?? "-";
            }
            @action
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>

        <dd>
            @{
                var icon = Model.Icon ?? "-";
            }
            @icon
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentModuleId)
        </dt>

        <dd>
            @{
                var parentModuleId = Model.ParentModuleId ?? 0;
            }
            @parentModuleId
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Module", new { id = Model.ModuleId })" class="btn btn-warning">
        <span class="glyphicon glyphicon-edit"></span>&nbsp;Alterar Módulo
    </a>
    <a href="@Url.Action("Index", "Module")" class="btn btn-default">
        <span class="glyphicon glyphicon-list-alt"></span>&nbsp;Voltar para Lista
    </a>
</p>

<script>
    $(document).ready(function () {
        $('.fadeIndSlow').fadeIn('slow');
    });
</script>  
