<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    <link rel="stylesheet" type="text/css" href="~/Content/themes/redmond/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/ui.jqtreeview.css" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_Menu")
    <div class="container body-content">
        <div class="row">
            <div id="menu_lateral">
                @Html.Partial("_SideMenu")
            </div>
            <div class="col-md-9 col-sm-9">
                <div id="conteudo">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET - Criado por Jonatas Fódãoo</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/otf")
    @RenderSection("scripts", false)
</body>
</html>
