@using Microsoft.AspNet.Identity
@using WEB_BASE.Repository
@{
    var unitOfWork = new UnitOfWork();
    var userId = User.Identity.GetUserId();
    
    var query = from mod in unitOfWork.ModulesRepository.DbSet          
        join modAccess in unitOfWork.ModuleUserAccessRepository.DbSet on mod.ModuleId equals modAccess.ModuleId
        where modAccess.UserId == userId
              && mod.ParentModuleId == null
        select mod;
       
    var module = query.ToList();
    var i = 1;
}
@if (module.Any())
{
    <div class="col-sm-3 col-md-3">
        <div class="panel-group" id="accordion">
            @foreach (var mod in module)
            {
                string id;
                string idAux;
                {
                    id = "collapse" + i;
                    idAux = "#" + id;
                }

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="@idAux">
                                @{
                                    var icon = "glyphicon " + mod.Icon;
                                }
                                <span class="@icon">
                                </span>@mod.ModuleName
                            </a>
                        </h4>
                    </div>
                    <div id="@id" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                @{
                                    var modCopy = mod;
                                    var subQuery = from sm in mod.SubModules
                                        join modAccess in unitOfWork.ModuleUserAccessRepository.DbSet on sm.ModuleId equals modAccess.ModuleId
                                        where modAccess.UserId == userId
                                              && sm.ParentModuleId == modCopy.ModuleId
                                        select sm;
                                    var subModule = subQuery.ToList();
                                }
                                @foreach (var subMod in subModule.OrderBy(m => m.ModuleName))
                                {                 
                                    <tr>
                                        @{icon = "glyphicon " + subMod.Icon;}
                                        <td>
                                            <span class="@icon"></span>
                                            @Html.ActionLink(subMod.ModuleName, subMod.Action, subMod.Controller)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
                {
                    i++;
                }
            }
        </div>
    </div>
}