@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using WEB_BASE.DataContexts
@model IPagedList<ProductsViewModels>
@{
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new IdentityDb()));
}

<div id="listProducts">

    <table class="table table-striped table-bordered table-responsive table-hover">
        <tr>
            <th>
                Categoria
            </th>
            <th>
                Código do Produto
            </th>
            <th>
                Nome do Produto
            </th>
            <th>
                Preço
            </th>
            <th>
                Criado Por
            </th>
            <th>
                Data da Criação
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @string.Format("{0:C}", item.UnitPrice)
                </td>
                <td>
                    @{
            var user = manager.FindById(item.CreatedBy);
            @Html.DisplayFor(modelItem => user.Name)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Products", new { id = item.ProductId })" class="btn btn-warning btn-xs">
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;Alterar
                    </a>
                    <a href="@Url.Action("Details", "Products", new { id = item.ProductId })" class="btn btn-info btn-xs">
                        <span class="glyphicon glyphicon-th-list"></span>&nbsp;Detalhes
                    </a>
                    <a href="@Url.Action("Delete", "Products", new { id = item.ProductId })" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;Remover
                    </a>
                </td>
            </tr>
        }
    </table>
    <div class="col-md-12 text-center" data-otf-target="#listProducts">
        @Html.PagedListPager(Model, page => @Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
    </div>
</div>


