@using WEB_BASE.Models
@model IEnumerable<ProductsModels>

@{
    ViewBag.Title = "Lista de Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("Create", "Products")" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;Criar Novo
    </a>
</p>
<hr />
<form action="@Url.Action("Index","Products")" method="get"
      data-otf-ajax="true" data-otf-target="#listProducts">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Pesquisar por Nome", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="search" name="ProductName" class="form-control" data-otf-autocomplete="@Url.Action("AutoComplete")"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>&nbsp;Pesquisar
                </button>
            </div>
        </div>
    </div>
</form>

@*@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "listProducts",
        OnBegin = "processing.showPleaseWait();",
        OnComplete = "processing.hidePleaseWait();"
    }))
    {
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Pesquisar por Nome", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="search" name="ProductName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;Pesquisar
                    </button>
                </div>
            </div>
        </div>
    }*@

    @Html.Partial("_ListProducts", Model)

@Styles.Render("~/Content/redmond/css")
