@model Product

@{
    ViewBag.Title = "Alterar Produto";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    //Não renderizado
    <div style="display:none;">
        @Html.EditorFor(model => model.CreatedBy)
        @Html.EditorFor(model => model.CreationDate)
    </div>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="well form-horizontal">
        <fieldset>
            <legend>Modelo de Produtos</legend>


            @Html.HiddenFor(model => model.ProductId)

            <div class="form-group">
                @Html.LabelFor(model => model.ProductCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UnitPrice, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CategoryId, "Categoria", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CategoryId", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;Salvar
                    </button>
                </div>
            </div>
        </fieldset>
    </div>

}
<div>
    <a href="@Url.Action("Index", "Product")" class="btn btn-default">
        <span class="glyphicon glyphicon-list-alt"></span>&nbsp;Voltar para Lista
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

